name: Publish

on:
  push:
    tags: 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v2

      - name: Set version from release tag
        uses: maks11060/deno-publish-version@v2
        with:
          tag: ${{ github.ref_name }}

      - name: Publish to JSR
        run: deno publish --allow-dirty

      - name: Release
        uses: softprops/action-gh-release@v2
